body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header, footer{
    background-color: rgba(0, 0, 0, 0.89);
    color: whitesmoke;
    text-align: center;
    padding: 1rem;
}
.team-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px;

}
.card img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    
}
.card{
    background-color: #f9f9f9;
    width: 200px;
    text-align: center;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgb(190, 189, 189);
    transition:transform .3s ease;
}
.card:hover{
    transform: scale(1.1, 1.1);
}